<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>448089285534-b3epjbtm8tkbsc2a3f5uct0gq7ka8ijr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448089285534-b3epjbtm8tkbsc2a3f5uct0gq7ka8ijr</string>
	<key>API_KEY</key>
	<string>AIzaSyANdprWZuHfCNaXfiGq3nFJyiRHRxc-6nc</string>
	<key>GCM_SENDER_ID</key>
	<string>448089285534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magnusholm.GlobeNotes</string>
	<key>PROJECT_ID</key>
	<string>globenotes-9006d</string>
	<key>STORAGE_BUCKET</key>
	<string>globenotes-9006d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448089285534:ios:ddc5c8e4d9b3eb08</string>
	<key>DATABASE_URL</key>
	<string>https://globenotes-9006d.firebaseio.com</string>
</dict>
</plist>